<footer id="footer">
    <div class="container">
        <h3>MicroFarm LTD</h3>
        <p>MicroFarms made easy.</p>
        <div class="social-links">
            <a onclick="popup()" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a onclick="popup()" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a onclick="popup()" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a onclick="popup()" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a onclick="popup()" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
        <div class="credits">
            For educational purposes only.
        </div>
    </div>
</footer>

<script>
    function popup() {
        alert("This company doesn't actually exitst; this project is for educational purposes only.");
    }
</script>