<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>MICROFARMS LTD</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!-- CSS -->
	<link href="partials/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
	<link href="partials/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
	<link href="static/browse-assets/css/browse.css" rel="stylesheet">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>

<body>
	{{> topbar}}
	{{> header}}
	<br><br><br><br>
	<div class="container">
		<div class="profile-content">
			<ul class="nav nav-tabs green" id="landTabs">
				<!-- 
					POPULATED WITH JQUERY 
				-->
			</ul>
			<div class="tab-content" id="tabConent">
				<hr>
				<div id="landId1" class="tab-pane fade in show active">
					<div class="titleContainer">
						<div class="dashboardTitle">
							<h1 id="landName">
								<!-- POPULATED WITH JQUERY -->
							</h1>
							<span class="text-muted" id="amenitiesBlock">
								<!-- POPULATED WITH JQUERY -->
							</span>
						</div>
					</div>
					<hr />
					<div class="list-group" id="plotList">
						<!-- POPULATED WITH JQUERY -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<br><br><br><br>
	{{> footer}}
	{{> backtotop}}
	<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
	<script src="partials/assets/vendor/jquery/jquery.min.js"></script>
	<script src="static/jquery.cookie.js"></script>
	<script src="static/envSwitcher.js"></script>
	<script src="/static/browsePlots.js"></script>
    <script src="/static/master.js"></script>

</body>

</html>